h1{
    text-align: center;
    font-family:  Roboto;
    margin-left: auto;
    margin-right: auto;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 70px;
  margin: -10px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  text-align: center;
}
