<div>
    <img width="500" height="300" src="assets/pics/messages-hi.png" alt="header-img"/>
  <div class="messages">
    <h4>Messages</h4>
    <div class="message" *ngFor="let message of messages">
      <div class="pic">
        <img src="/assets/man.svg" alt="profile-img">
      </div>
      <div class="message-text">
        <span>{{ loggedUser.instructor.firstname }} {{ loggedUser.instructor.lastname }}</span>
        <p>{{message.text}}</p>
      </div>
    </div>
  </div>
  <app-chat></app-chat>
</div>
