<div id = "sidebar">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar" id ="logo">
                  <a id = "logo" href = "#">
                <img alt = "logo" id = "logopic" src = "assets/pics/bandgeeks.png">
                   </a> 
             
                </li>
                <li id = "buffer"></li>
        <li>
            <div *ngIf="isInstructor(); else studentinventory">
            <a *ngIf="route.url!=='/requests/instructor'" routerLink="/requests/instructor">
              Inventory
            </a>
            <span id = "invSpan" *ngIf="route.url==='/requests/instructor'" routerLink="/requests/instructor" >
              Inventory
            </span>
            </div>
            <ng-template #studentinventory >
                <a *ngIf="route.url!=='/requests/student'" routerLink="/requests/student">
                    Inventory
                  </a>
                  <span id = "invSpan" *ngIf="route.url==='/requests/student'" routerLink="/requests/student" >
                    Inventory
                  </span>
            </ng-template>
        </li>
        <li>
            <div *ngIf="isInstructor(); else student">
            <a *ngIf="route.url!=='/assignments'" routerLink="/assignments">Assignments</a>
            <span id = "assnSpan" *ngIf="route.url==='/assignments'"  routerLink="/assignments">Assignments</span>
            </div>
            <ng-template #student >
                <a *ngIf="route.url!=='/assignments'" routerLink="/assignments">Assignments</a>
                <span id = "assnSpan" *ngIf="route.url==='/assignments'"  routerLink="/assignments">Assignments</span>
            </ng-template>

        </li>
        <li>
            <a *ngIf="route.url!=='/chat'" routerLink="/chat">Contact</a>
            <span id = "chatSpan"  *ngIf="route.url==='/chat'"  routerLink="/chat">Contact</span>
        </li>
        <!-- <li>
            <a *ngIf="route.url!=='/game'" routerLink="/game">Game</a>
            <span id = "gameSpan" *ngIf="route.url==='/game'"  routerLink="/game">Game</span>
        </li>
        <li>
            <a *ngIf="route.url!=='/home'" routerLink="/home">User Info</a>
            <span id = "userSpan"  *ngIf="route.url==='/home'"  routerLink="/home">User Info</span>
        </li> -->
    </ul>
    </nav>
</div>
