  <!-- Card Narrower -->
  <div class="card card-cascade narrower">
  
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top img-fluid" src="assets/pics/11.jpg"
        alt="Card image cap Responsive image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
  
      <!-- Label -->
      <h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="file-alt"></mdb-icon> Make Assignment</h5>
      <!-- Title -->
      <h4 class="font-weight-bold card-title">Assign to a course or group</h4>
      <!-- Text -->
      <p class="card-text">This is just filler text I dont know if Ill need it.</p>
      <!-- Button -->
      <button id="assignmentButton" class="btn btn-primary" data-toggle="modal" data-target="#modalSubscriptionForm">Create Assignment</button>
  
    </div>
  
  </div>
  <!-- Card Narrower -->
  <div class="card card-cascade narrower text-center">
  
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top img-fluid" src="assets/pics/9.jpg"
        alt="Card image cap Responsive image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade">
  
      <!-- Label -->
      <h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="scroll"></mdb-icon> View Assignments</h5>
      <!-- Title -->
      <h4 class="font-weight-bold card-title">View current assignments and Progress</h4>
      <!-- Text -->
      <p class="card-text">This is just filler text I dont know if Ill need it.</p>
      <!-- Button -->
      <button id="assignmentButton" class="btn btn-primary" [routerLink]="'/assignments/instructor/view'">View Assignment</button>

  
    </div>
  
  </div>
  <!-- Card Narrower -->






  <!-- MODALS -->
  <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create Assignment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3 text-center">
               
        <div>
          <select [(ngModel)]="assignment.assignmentTypeId" class="mdb-select md-form colorful-select dropdown-primary">
            <option [ngValue]=1>Listening/Memorization</option>
            <option [ngValue]=2>Learn and Play</option>
            <option [ngValue]=3>Ear Training</option>
            <option [ngValue]=4>3 Major Scales Warm-Up</option>
            <option [ngValue]=5>Music Theory Worksheet</option>
          </select>
        </div>

        <div>
          <select [(ngModel)]="assignment.assignmentTypeId" class="mdb-select md-form colorful-select dropdown-primary">
            <option [ngValue]=1>Old Tuba</option>
            <option [ngValue]=2>New Tuba</option>
            <option [ngValue]=6>Trombone 1</option>
            <option [ngValue]=7>Grimy Bass Trombone</option>
            <option [ngValue]=8>Grand Piano</option>
            <option [ngValue]=9>Rhodes Piano</option>
            <option [ngValue]=10>Bass Guitar</option>
            <option [ngValue]=11>Electric Guitar</option>
          </select>
        </div>


      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>


  