<!-- Card Narrower -->
<div class="card card-cascade narrower">
  
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top img-fluid" src="assets/pics/1.jpg"
        alt="Card image cap Responsive image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
  
      <!-- Label -->
      <h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="file-alt"></mdb-icon> Create Inventory</h5>
      <!-- Title -->
      <h4 class="font-weight-bold card-title">Create New Inventory</h4>
      <!-- Text -->
      <p class="card-text">Instructions on how to create inventory goes here.</p>
      <!-- Button -->
      <button id="assignmentButton" class="btn btn-primary" data-toggle="modal" data-target="#modalSubscriptionForm" [routerLink]="'/requests/instructor/create'">Create Inventory</button>
  
    </div>
  
  </div>
  <!-- Card Narrower -->
  <div class="card card-cascade narrower text-center">
  
    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top img-fluid" src="assets/pics/8.jpg"
        alt="Card image cap Responsive image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade">
  
      <!-- Label -->
      <h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="scroll"></mdb-icon> View Inventory</h5>
      <!-- Title -->
      <h4 class="font-weight-bold card-title">View all inventory</h4>
      <!-- Text -->
      <p class="card-text">Instructions on what happens next goes here.</p>
      <!-- Button -->
      <button id="assignmentButton" class="btn btn-primary" [routerLink]="'/requests/instructor/view'">View Requests</button>

  
    </div>
  
  </div>
    <!-- Card Narrower -->
    <div class="card card-cascade narrower text-center">
  
        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top img-fluid" src="assets/pics/4.jpg"
            alt="Card image cap Responsive image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade">
      
          <!-- Label -->
          <h5 class="pink-text pb-2 pt-1"><mdb-icon fas icon="scroll"></mdb-icon> Make Action on Requests</h5>
          <!-- Title -->
          <h4 class="font-weight-bold card-title">Make Action on Requests</h4>
          <!-- Text -->
          <p class="card-text">Instructions on what happens next goes here.</p>
          <!-- Button -->
          <button id="assignmentButton" class="btn btn-primary" [routerLink]="'/requests/instructor/view'">View Requests</button>
        </div>
      
        </div>








