<!-- *ngIf conditionally includes or excludes a block of HTML-->
<!-- *ngIf removes the user detail from the DOM-->
<!-- When the user is picked, selectedUser has a value and ngIf puts the user
detail into the DOM-->
<mdb-card *ngIf="loggedUser">
  <!-- Card Image -->
  <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
  <!-- Card Content -->
  <mdb-card-body>
    <!-- Title -->
    <mdb-card-title>
      <div *ngIf="isInstructor()">
        <h2>{{ loggedUser.instructor.firstname | uppercase }} Details</h2>
      </div>
    </mdb-card-title>
    <!-- Text -->
    <mdb-card-text>
      <div *ngIf="isStudent()">
        <div><span>id: </span>{{ loggedUser.student.id }}</div>
        <div>
          <label
            >name:
          </label>
        </div>
      </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
